html {
	font-family: sans-serif;
	background-color: #222;
	color: white;
	height: 100%;
	text-align: center;
}
body {
	margin: 0;
	height: 100%;
}
main {
	display: flex;
	height: calc(100% - 58px);
	justify-content: space-evenly;
	align-items: center;
}

h1{
	margin: 0;
	padding-top: 20px;
}

div {
	width: 160px;
	height: 160px;
	background-color: #333;
	padding: 20px;
	transition-duration: 0.3s;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.2);
}

div:hover {
	box-shadow: 0px 0px 3px 5px rgba(256,256,256,0.2);
	transition-duration: 0.3s;
}

a {
	text-decoration: none;
	color: white;
	display: block;
	width: inherit;
	height: inherit;
}

img {
	justify-content: center;
	width: 100px;
	height: 100px;
}
