:root {
	--main-bg-color: #222;
	--second-bg-color: #333;
	--font-color: white;
	--main-hollow-color: rgba(0,0,0,0.2);
	--second-hollow-color: rgba(256,256,256,0.2);
}

html {
	font-family: sans-serif;
	background-color: var(--main-bg-color);
	color: var(--font-color);
	height: 100%;
	text-align: center;
}
body {
	margin: 0;
	height: 100%;
}
main {
	display: flex;
	height: calc(100% - 57px);
	justify-content: space-evenly;
	align-items: center;
}

h1{
	margin: 0;
	padding-top: 20px;
}

div {
	width: 160px;
	height: 160px;
	background-color: var(--second-bg-color);
	padding: 20px;
	transition-duration: 0.3s;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 5px var(--main-hollow-color);
}

div:hover {
	box-shadow: 0px 0px 3px 5px var(--second-hollow-color);
	transition-duration: 0.3s;
}

a {
	text-decoration: none;
	color: var(--font-color);
	display: block;
	width: inherit;
	height: inherit;
}

img {
	justify-content: center;
	width: 100px;
	height: 100px;
}

svg {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

@media screen and (max-width:812px) {
	main{
		display: inherit;
		height: calc(100% - 57px - 60px);
	}
	div{
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
}
